.Thesis-buttons{
display: flex;
justify-content: space-around;
}

.Thesis-button {
    
    width: 6em;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(to right, #22ded9, #fc6a98);
    color: black;
    cursor: pointer;
    font-weight: 380;
    border: 3px solid black;
}