.thesis-nav{
    min-height: 84vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2em 0em 2em;
    font-size :x-large;
}

.fa-solid{
    cursor: pointer;
   
}