.thesis-nav{
    min-height: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2em 0em 2em;
    font-size :xx-large;
}

.fa-solid{
    cursor: pointer;
    color: black;
   
}

.tesis-pages-link{
    text-decoration: none;
}

.thesis-img{
    width: 84%;
    max-height: 75vh;
}