.thesis-nav{
    min-height: 81vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2em 0em 2em;;
}

.fa-solid{
    cursor: pointer;
    font-size :xx-large
}