.Thesis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 88vh; /* Adjust as needed for your layout */
    background-image: url('https://res.cloudinary.com/de3pvycqi/image/upload/v1690296992/mind-space/Mindspace_thesis_home_page_background_wwsbop.png');
    background-size : contain;
  }
  
  .Thesis-content {
    margin: 20px 0;
  }
  
  .Thesis-buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
  }
  
  .Thesis-button {
    width: 6em;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(to right, #22ded9, #fc6a98);
    color: black;
    cursor: pointer;
    font-weight: 380;
    border: 3px solid black;
    text-decoration: none;

  }
  

  .main-title{
    font-size: 3em;
    font-weight: 500;
  }

  .first-title{
    margin-top: 6rem;
    font-size: larger;
    font-weight: 400;
  }


  .sec-title{
    font-size: xx-large;
  }

  .link-button{
    text-decoration: none;
    color: black;
  }

  .sec-title-tashap{
    font-size: x-large;
  }